{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Shopcart | Checkout Page</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12">
            <h5 class="back text-center text-light mt-2">Billing Details</h5>
            <table class="table">
                <tr>
                    <th>Full Name</th>
                    <td>{{user.name}}</td>
                    
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th>Email Id</th>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <th>Mobile</th>
                    <td>{{user.phone}}</td>
                </tr>
                <tr>
                    <th>House or Building Number</th>
                    <td>{{user.address1}}</td>
                </tr>
                <tr>
                    <th>Street Number or Nearby</th>
                    <td>{{user.address2}}</td>
                </tr>
                    <th>Locality or Village</th>
                    <td>{{user.address3}}</td>
                </tr>
                <tr>
                    <th>Pincode</th>
                    <td>{{user.pincode}}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{user.city}}</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>{{user.state}}</td>
                </tr>
                <tr>
                    <td colspan="2"><a href="/update_profile/" class="btn mybtn back text-light btn-sm w-100">Update Details</a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-12">
            <h5 class="back text-light text-center p-1 mt-2">Cart Page</h5>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Colour</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            {% for i in cart %}
            <tr>
                <td><img src="{{i.pic}}" widht="80px" height="60px"></td>
                <td>{{i.name}}</td>
                <td>{{i.color}}</td>
                <td>{{i.size}}</td>
                <td>{{i.price}}</td>
                <td>{{i.qty}}</td>
                <td>{{i.total}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Total Amount</th>
                    <td>&#8377;{{total}}</td>
                </tr>
                <tr>
                    <th>Shipping Amount</th>
                    <td>&#8377;{{shipping}}</td>
                </tr>
                <tr>
                    <th>Final Amount</th>
                    <td>&#8377;{{final}}</td>
                </tr>
                <form action="/order/" method="post">
                    {% csrf_token %}
                    <tr>
                        <th>Payment Method</th>
                        <td>
                            <select name="mode" class="form-select">
                                <option value="COD">Cash On Delivery</option>
                                <option value="Netbanking">Netbanking/Credit Card/UPI</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2"><button type="submit" class="btn background text-light w-100 btn-sm">Place Order</button></th>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>
{% endblock %}