{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Shopcart | Shop Page</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
            <h5 class="back text-light text-center p-2">Menu</h5>
            <div class="list-group">
                <h6 class="back text-light text-center p-1">Maincategory</h6>
                <a href="/shop/All/{{sc}}/{{br}}/" class="list-group-item list-group-item-action">All</a>
                {% for i in maincategory %}
                <a href="/shop/{{i.name}}/{{sc}}/{{br}}/" class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
            </div>
            <div class="list-group">
                <h5 class="back text-light text-center p-1">Subcategory</h5>
                <a href="/shop/{{mc}}/All/{{br}}/" class="list-group-item list-group-item-action">All</a>
                {% for i in subcategory %}
                <a href="/shop/{{mc}}/{{i.name}}/{{br}}/" class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
            </div>
            <div class="list-group">
                <h5 class="back text-light text-center p-1">Brand</h5>
                <a href="/shop/{{mc}}/{{sc}}/All/" class="list-group-item list-group-item-action">All</a>
                {% for i in brand %}
                <a href="/shop/{{mc}}/{{sc}}/{{i.name}}/" class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-6 col-12">
            <h5 class="back text-light text-center p-2">Our Products</h5>
                <div class="row">
                    {% for i in data %}
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                        <div class="card">
                            <img src="{{i.pic1.url}}" height="250px" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{i.name}}</h5>
                                <p class="card-text">&#8377;<del>{{i.baseprice}}</del><sub>{{i.finalprice}}</sub></p>
                                <p class="card-text">{{i.discount}}%</p>
                                <p class="card-text">{{i.color}} {{i.size}}</p>
                                <a href="/singleProduct/{{i.id}}" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}