{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Shopcart | Update Profile Section</title>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row my-3">
        <div class="col-md-2 col-1"></div>
        <div class="col-md-8 col-10">
            <h5 class="back text-light text-center p-2">Update Profile</h5>
            <form method="post" action="#" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">Full name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter Name" value="{{user.name}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">Profile Pic</label>
                        <input type="file" class="form-control" name="pic" value="{{user.pic}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter Email" value="{{user.email}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control" name="phone" placeholder="Enter Phone Number" value="{{user.phone}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">Flat,House no.,Building</label>
                        <input type="text" class="form-control" name="address1" placeholder="Enter Flat,House no.,Building" value="{{user.address1}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">Area,Street,Sector,Village</label>
                        <input type="text" class="form-control" name="address2" placeholder="Enter Area,Street,Sector,Village" value="{{user.address2}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">Town or Locality</label>
                        <input type="text" class="form-control" name="address3" placeholder="Enter Town or Locality" value="{{user.address3}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">Pincode</label>
                        <input type="number" class="form-control" name="pin" placeholder="Enter Pincode" value="{{user.pin}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" name="city" placeholder="Enter City" value="{{user.city}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">State</label>
                        <input type="text" class="form-control" name="state" placeholder="Enter State" value="{{user.state}}">
                    </div>
                </div>
                <button type="submit" class="btn back text-light w-100 btn-sm mybtn">Update</button>
            </form>
        </div>
        <div class="col-md-2 col-1"></div>
    </div>
</div>
{% endblock %}