{% extends "index.html" %}
{% load static %}
{% block title %}
<title>Shopcart | Wishlist Page</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h5 class="back text-light text-center p-2 mt-2">Wishlist Section</h5>
    <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Colour</th>
            <th>Size</th>
            <th>Price</th>
            <th>Maincategory</th>
            <th>Subcategory</th>
            <th>Brand</th>
            <th></th>
            <th></th>
        </tr>
        {% for i in wishlist %}
        <tr>
            <td><img src="{{i.product.pic1.url}}" width="80px"  height="60px" alt=""></td>
            <td>{{i.product.name}}</td>
            <td>{{i.product.color}}</td>
            <td>{{i.product.size}}</td>
            <td>{{i.product.finalprice}}</td>
            <td>{{i.product.maincategory}}</td>
            <td>{{i.product.subcategory}}</td>
            <td>{{i.product.brand}}</td>
            <td><a href="/singleProduct/{{i.product.id}}"><i class="bi bi-cart-plus-fill fs-4"></i></a></td> 
            <td><a href="/deleteWishlist/{{i.product.id}}"><i class="bi bi-trash fs-4"></i></a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}